#titulo {
  color: #0a4475;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}
table {
  border-collapse: collapse;
  max-width: 80%;
  margin: 0 auto;
}

img {
  max-height: 70px;
  max-width: 150px;
}

.logo {
  text-align: center;
}

thead {
  background-color: #f9b732;
  color: #0a4475;
}

th, td {
  text-align: left;
  padding: 5px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* .login__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
} */

.login-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  font-size: 1.5em;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  width: 100%;
  background-color: #0a4475;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* se o botao estiver disable, ele fica cinza  */
button:disabled {
  background-color: #ccc;
}