#titulo {
  color: #0a4475;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}
table {
  border-collapse: collapse;
  max-width: 80%;
  margin: 0 auto;
}

img {
  max-height: 70px;
  max-width: 150px;
}

.logo {
  text-align: center;
}

thead {
  background-color: #f9b732;
  color: #0a4475;
}

th, td {
  text-align: left;
  padding: 5px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}